button {
    background-color: green;
    border-radius: 5px;
    color: white;
    font-size: 40px;
    border: 0;
    text-transform: uppercase;
    
}

.logButton {
    text-align: center;
    padding-top: 30px;
}
