button {
    background-color: green;
}

.logButton {
    text-align: center;
}

.back {
    background-color: rgb(77, 72, 72);
    display: block;
}

.modal {
    background-color: white;
    width: 200px;
    display: block;
}