button {
    background-color: green;
    border-radius: 3px;
    color: white;
    font-size: 50px;
    border: 0;
    text-transform: uppercase;
    
    
}

.logButton {
    text-align: center;
    padding-top: 30px;
}

.wholeModal {
    text-align: center;
    justify-content: center;
    display: inline-block;
    position: fixed;
}

.back {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 230vh;
    // opacity: 0.1;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    width: 200px;
    display: block;
    z-index: 2;
    position: fixed;
}